$color-gray-00: #fff;
$color-gray-10: #f3f3f3;
$color-gray-15: #f8f8f8;
$color-gray-20: #e3e3e3;
$color-gray-30: #d3d3d3;
$color-gray-40: #b3b3b3;
$color-gray-50: #939393;
$color-gray-60: #737373;
$color-gray-70: #535353;
$color-gray-80: #333;
$color-black: #000;
$color-white: #FFFFFF;


$color-red-50: #f33;
$color-red-70: #e52e2e;
$color-purple: #8C4BAD;
$color-blue-1: #008FBA;

// Fonts
$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

$breakpoints: (
        extraSmall: 425px,
        small: 768px,
        medium: 992px,
        large: 1200px,
        extraLarge: 2000px
);

$base-font-sizes: (
        default: (12px, 1.5),
        small: (14px, 1.5),
        medium: (14px, 1.5)
);

$base-16-font-sizes: (
        default: (12px, 1.5),
        small: (16px, 1.5),
        medium: (16px, 1.5)
);

$h1-font-sizes: (
        default: (24px, 1),
        small: (32px, 1),
        medium: (44px, 1.09)
);

$h2-font-sizes: (
        default: (24px, 1),
        small: (32px, 1),
        medium: (32px, 1)
);

$h3-font-sizes: (
        default: (24px, 1),
        small: (24px, 1),
        medium: (24px, 1)
);

$h4-font-sizes: (
        default: (14px, 1.2),
        small: (16px, 1.2),
        medium: (16px, 1.2)
);

$h5-font-sizes: (
        default: (14px, 1.2),
        small: (14px, 1.2),
        medium: (14px, 1.2),
        large: (16px, 1.2)
);
